@import '../../assets/base.css';

.lineButtonContainer {
    display: flex;
    align-items: center;
}

.lineButtonContainer:hover .lineButtonContainer__iconContainer {
    background-color: var(--secondary);
    color: var(--secondary);
    cursor: pointer;
}

.lineButtonContainer:hover .lineButtonContainer__label {
    color: var(--secondary);
    cursor: pointer; 
}

.lineButtonContainer__label {
    margin-right: 14px;
    color: var(--primary);
    font-weight: var(--font-weight-bold);
}

.lineButtonContainer__iconContainer  {
    padding: 3px;
    border-radius: 50%;
    background-color: var(--primary);
}

.lineButtonContainer__iconContainer svg  {
    width: 18px;
    height: 18px;
}

.lineButtonContainer__iconContainer svg *[stroke] {
    stroke: #FFFFFF;
}
