@import '../../assets/base.css';

.labelIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelIconContainer__iconContainer  {
    padding: 8px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.labelIconContainer__iconContainer svg  {
    width: 24px;
    height: 24px;
}

.labelIconContainer__iconContainer svg *[stroke] {
    stroke: var(--primary);
}

.labelIconContainer__label {
    width:100%;
    margin-left: 16px;
    font-weight: var(--font-weight-normal);
}