@import '../assets/base.css';

.outerContainer {
    display: flex;
    width: calc(100vw - 110px);
    height: calc(100vh - 20px);
    margin: 10px 10px 10px 0;
    border-radius: 16px;
    float: left;
    overflow: auto;
    background: #FFFFFF;
}

.leftContainer {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    width: 30%;
    padding: 24px 40px 40px 40px;
    float: left;
}

.leftContainer__titlesContainer {
    height: fit-content;
}

.leftContainer__titlesContainer__title {
    color: var(--text-dark);
    font-weight: var(--font-weight-medium);
}

.leftContainer__titlesContainer__subTitle {
    margin-top: 4px;
    margin-bottom: 24px;
    color: var(--text-light);
    font-weight: var(--font-weight-mormal);
}

.leftContainer__titlesContainer__line {
    width: 100%;
    height: 1px;
    background-color: #D9E0E3;
}

.leftContainer__vehicleSelect__title {
    margin-top: 23px;
    margin-bottom: 13px;
    color: var(--text-dark);
    font-weight: var(--font-weight-medium);
}

.leftContainer__vehicleSelect__selects__select {
    margin-bottom: 14px;
}

.leftContainer__vehicleSelect__line {
    width: 100%;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #D9E0E3;
}

.rightContainer__charts {
    width: 65%;
    background-color: red;
    float: left;
}

.rightContainer__barChart {
    height: calc(55% - 84px);
    padding: 44px 40px 40px 40px; 
    background-color: var(--grey-light);
}

.rightContainer__barChart__title {
    color: var(--text-dark);
    font-weight: var(--font-weight-medium);
}

.rightContainer__barChart__chartContainer {
    width: 100%;
    height: calc(100% - 40px);
}

.rightContainer__charts__bottomChartContainer {
    height: 45%;
}

.rightContainer__charts__bottomChartContainer__polarChart {
    width: calc(50% - 80px);
    height: calc(100% - 81px);
    padding: 41px 40px 40px 40px;
    background-color: var(--grey);
    float: left;
}

.rightContainer__charts__bottomChartContainer__topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightContainer__charts__bottomChartContainer__topContainer__title {
    color: var(--text-dark);
    font-weight: var(--font-weight-medium);
}

.rightContainer__charts__bottomChartContainer__topContainer__select {
    width: 50%;
}

.rightContainer__charts__bottomChartContainer__topContainer__select p {
    margin-bottom: 0;
}

.rightContainer__charts__bottomChartContainer__pieChart {
    width: calc(50% - 80px);
    height: calc(100% - 81px);
    padding: 41px 40px 40px 40px;
    background-color: var(--grey-dark);
    float: left;
}

.rightContainer__charts__bottomChartContainer__chartsContainer {
    width: 70%;
    height: calc(100% - 40px);
}